SECRET_KEY=your_secret_key_here
DATABASE_URL=mysql+pymysql://root:yourpassword@db/mydatabase
MYSQL_ROOT_PASSWORD=yourpassword
MYSQL_DATABASE=mydatabase
ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password