.admin {


    text-align: center;    

}

.difficulty-btn {

    display: flex;
    gap: 8px;

}

.difficulty-btn button {

    font-size: 20px;

}

.difficulty-btn button.active {

    background: blue;
    color: white;

}

.results_panel.active {

    background: blue;
    color: white;


}