{% extends 'base.html' %}

{% block head %} 



{% endblock %}

{% block body %}

    <div class="case_problem_creation">

        <form action="/admin/dashboard/new_case_problem" method="POST">

            <label for="problem_title">Problem Title:</label>
            <textarea name="problem_title" id="problem_title" required></textarea>
            <br>
            <br>    
            <label for="coding_problem">Coding Problem</label>
            <textarea name="coding_problem" id="coding_problem" required></textarea>
            <br>
            <br>
            <p>Provide some examples for input and expected output.</p>
            <label for="examples">Give examples</label>
            <li><textarea name="examples" id="examples" required></textarea></li>

            <label for="constraints">Constraints</label>
            <li><textarea name="constraints" id="constraints" required></textarea></li>

            <label for="follow-ups">Follow-ups (Optional)</label>
            <li><textarea name="follow-ups" id="follow-ups" ></textarea></li>

            <label for="hints">Hints (Optional)</label>
            <li><textarea name="hints" id="hints" ></textarea></li>

            <input type="submit" value="Submit">

        </form>

    </div>

{% endblock %}