{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %}

    <div class="admin_dashboard">

        <h2>Welcome Administrator {{admin.admin_username}}.</h2>

        <button><a href="/admin/dashboard/new_output_problem">Add a new output problem</a></button>
        <button><a href="/admin/dashboard/new_case_problem">Add a new case problem</a></button>
        <button><a href="/admin/dashboard/new_test_case">Add a new test case</a></button>
            
    </div>    
{% endblock %}