{% extends 'base.html' %}

{% block body %}

<div class="min-h-screen bg-slate-100 p-4">

    <div class="group w-fit flex ml-auto mr-6 mt-4">
        <button onclick="window.location.href='/dashboard/account'" class="flex ml-auto text-3xl bg-white px-4 py-px font-bold cursor-pointer shadow-md group-hover:shadow-xl/30 transition-all duration-200">
        {{ user.username[0]|upper }}
        </button>
        <div class="absolute -translate-y-6  bg-black invisible text-xs text-white px-2 border border-slate-500 z-10 group-hover:visible group-hover:transition-all duration-200">
            My profile
        </div>
    </div>

    <div class="mt-10 flex flex-col items-center gap-y-6">
        <p class="text-7xl font-bold">
            Choose your path,
            <span>{{ user.username }}</span>
        </p>

        <p class="text-slate-500">
            Build confidence through guided exercises or
            challenge yourself with real coding problems.
        </p>

        <div class="grid grid-cols-2 gap-x-10 cursor-default">

            <div onclick="window.location.href= '/output_problems' " class="grid gap-y-2 justify-items-center border-2 border-yellow-500 p-4 group hover:scale-110 transition-all duration-200">

                <p class="text-3xl">Output Problems</p>

                <p class="text-sm">
                    Practice reading and understanding code by
                    predicting program output.
                </p>

                <p class="px-2 group-hover:bg-blue-500 group-hover:text-white font-bold transition-all duration-200">
                    Start →
                </p>

            </div>

            <div onclick="window.location.href = '/case_problems' " class="grid gap-y-2 justify-items-center border-2 border-yellow-500 group p-4 hover:scale-110 transition-all duration-200">

                <p class="text-3xl">Case Problems</p>

                <p class="text-sm">
                    Solve coding challenges and
                    pass every test case with your own solution.
                </p>

                <p class="font-bold px-2 group-hover:bg-blue-500 group-hover:text-white transition-all duration-200">
                    Start →
                </p>

            </div>

        </div>

    </div>

    <div class="absolute bottom-0 left-0 bg-yellow-300  min-w-screen">
        <p class="flex justify-center text-white text-xl font-bold">
            <span class="text-blue-500">Code</span>
            <span class="text-yellow-500 mr-2">Load</span> 
        </p>
    </div>
</div>

{% endblock %}
