{% extends 'base.html' %}

{% block head %} 



{% endblock %}

{% block body %}

<a href="/" class="home-btn" aria-label="Home">
    <span>⌂</span>
</a>

<div class="login">

<h1>Sign in to your account</h1>

<form action='/login' method='POST' autocomplete="off">

    <label for="username">Username</label>
    <input type="text" name="username" required>
    <br>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <br>
    <br>
    <input type="submit" value="Submit">

</form>    

</div>

{% endblock %}