{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %}

    <h3>Output Problems</h3>

    <h1>Python <span><h1 class="python-logo"></h1></span></h1></h1>

    <br>

    <div class="python_container">

        <ol>
                      
           {% for problem in problems_list %}

            <div class="problem-card">

                <div>

                    <h3>{{problem.problem_title}}</h3>

                    <p>
                        {{problem.difficulty}}
                        •
                        {{status_list[problem.problem_id - 1]}}
                    </p>

                </div>

                <a href="/output_problems/solving_page/{{problem.problem_id}}">
                    Solve →
                </a>

            </div>

       
           {% endfor %}

        </ol>

    </div>

{% endblock %}