{% extends 'base.html' %}

{% block head %} 



{% endblock %}

{% block body %}

<div class="flex flex-col min-h-screen bg-slate-100">

    <div onclick="window.location.href = '/' " class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
        class="lucide lucide-house-icon lucide-house ml-auto">
        <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
        </svg>
    </div>

    <div class="flex-1 flex justify-center items-center">

        <div class="grid grid-cols-1 gap-y-2 text-xl bg-white p-2 rounded-xl w-1/4">

            <p class="justify-self-center">Registration</p>

            <form action='/register' method='POST' autocomplete="off" class="grid grid-cols-1 gap-y-4 border-t border-t-yellow-500 p-2">

                <div>
                    <label for="first_name">Given Name</label>
                    <input type="text" name="first_name" required>
                </div>

                <div>
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" required>
                </div>

                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" required>
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" required >
                </div>

                <input type="submit" value="Submit" class="justify-self-center">

            </form>

        </div>

    </div>

</div>

{% endblock %}