{% extends 'base.html' %}

{% block body %}

<div class="p-4 min-h-screen bg-slate-200 cursor-default">

    <div onclick="window.location.href='/dashboard' " class="flex w-fit mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
        class="lucide lucide-chevron-left-icon lucide-chevron-left bg-white hover:-translate-x-2 transition-all duration-200"><path d="m15 18-6-6 6-6"/>
        </svg>
    </div>

    <div class="flex justify-center ">
        <div class="flex w-3xl h-40 border p-2 bg-yellow-300">
            <div class="size-36 border mr-2">
                <p class="flex justify-center items-center text-3xl h-full bg-yellow-500 outline-yellow-500">
                    {{user.username[0]|upper}}
                </p>
            </div>
            <div class="flex flex-1 flex-col text-xl">
                <div class="flex items-center">
                    <p class="text-3xl font-bold">{{ user.username }}</p>
                    <button onclick="window.location.href='/logout'" class="ml-auto bg-red-500 px-2 cursor-pointer border border-red-300">
                        ⎋ Logout
                    </button>
                </div>
                <p class="text-slate-500 italic">"Improving my python skills"</p>
                
                <div class="flex flex-col flex-1 justify-center">
                    <div class="">
                        <span class="">Case Problems remaining: </span>
                        <span class="">{{total_unsolved_cp}}</span>
                    </div>

                    <div class="">
                        <span class="">Output Problems remaining: </span>
                        <span class="">{{total_unsolved_op}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="mx-30 mt-10">

        <p class="flex justify-center text-5xl font-bold mb-10">Stats</p>

        <div class="flex flex-col gap-y-10">
            <div class="grid grid-cols-3 bg-white p-4 gap-y-6">
                <p class="col-start-1 col-span-3 text-3xl">Case Problems</p>
                <div class="flex flex-col items-center">
                    <div class="">
                        <span class="">{{solved_cp_hashmap['Easy']}}</span>
                        <span class="">/</span>
                        <span class="">{{total_cp_hashmap['Easy']}}</span>
                    </div>
                    <p class="text-green-500">Easy</p>
                </div>

                <div class="flex flex-col items-center">
                    <div class="">
                        <span class="">{{solved_cp_hashmap['Medium']}}</span>
                        <span class="">/</span>
                        <span class="">{{total_cp_hashmap['Medium']}}</span>
                    </div>
                    <p class="text-orange-500">Medium</p>
                </div>

                <div class="flex flex-col items-center">
                    <div class="">
                        <span class="">{{solved_cp_hashmap['Hard']}}</span>
                        <span class="">/</span>
                        <span class="">{{total_cp_hashmap['Hard']}}</span>
                    </div>
                    <p class="text-red-500">Hard</p>
                </div>
            </div>

            <div class="grid grid-cols-3 bg-white p-4 gap-y-6">

                <p class="col-start-1 col-span-3 text-3xl">Output Problems</p>

                <div class="flex flex-col items-center">
                    <div>
                        <span class="">{{solved_op_hashmap['Easy']}}</span>
                        <span class="">/</span>
                        <span class="">{{total_op_hashmap['Easy']}}</span>
                    </div>
                    <p class="text-green-500">Easy</p>
                </div>

                <div class="flex flex-col items-center">
                    <div>
                        <span class="">{{solved_op_hashmap['Medium']}}</span>
                        <span class="">/</span>
                        <span class="">{{total_op_hashmap['Medium']}}</span>
                    </div>
                    <p class="text-orange-500">Medium</p>
                </div>

                <div class="flex flex-col items-center">
                    <div>
                        <span class="">{{solved_op_hashmap['Hard']}}</span>
                        <span class="">/</span>
                        <span class="">{{total_op_hashmap['Hard']}}</span>
                    </div>
                    <p class="text-red-500">Hard</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
