{% extends 'admin/base.html' %}

{% block head %} 

{{ super() }} <!-- keeps the CSS link from base.html -->

{% endblock %}

{% block body %}

    <div class="admin-card">

    <h1>Create Case Problem</h1>

    <p class="section-subtitle">
        Build a coding challenge with examples,
        constraints and optional hints.
    </p>

        <form action="/admin/dashboard/new_case_problem" method="POST">

            <section class="form-section">

            <h3>What is the difficulty of the coding problem?</h3>

            <input type="hidden" name= "difficulty" id="selected_difficulty" value="">

            <div class="difficulty-btn">

            <button type="button" onclick="select_difficulty(this)" data-value="Easy">Easy</button>
            <button type="button" onclick="select_difficulty(this)" data-value="Medium">Medium</button>
            <button type="button" onclick="select_difficulty(this)" data-value="Hard">Hard</button>

            </div>

            </section>

            <section class="form-section">

            <label for="problem_title">Problem Title:</label>
            <textarea name="problem_title" id="problem_title" required></textarea>
            <br>
            <br>    
            <label for="coding_problem">Coding Problem</label>
            <textarea name="coding_problem" id="coding_problem" required></textarea>
            
            </section>

            <section class="form-section">

            <p>Provide some examples for input and expected output.</p>
            <label for="examples">Give examples</label>
            <textarea name="examples" id="examples" required></textarea>

            <label for="constraints">Constraints</label>
            <textarea name="constraints" id="constraints" required></textarea>

            </section>

            <section class="form-section">

            <label for="follow_ups">follow-ups (Optional)</label>
            <textarea name="follow_ups" id="follow_ups" ></textarea>

            <label for="hints">Hints (Optional)</label>
            <textarea name="hints" id="hints" ></textarea>

            <label for="function_name">Function name</label>
            <textarea name="function_name" id="function_name" ></textarea>

            <label for="args">Arguments/Parameters</label>
            <textarea name="args" id="args" ></textarea>

            <label for="return_type">Return value's datatype</label>
            <textarea name="return_type" id="return_type" ></textarea>

            </section>

            <input type="submit" value="Submit">

        </form>

    </div>

    <script>

                function select_difficulty(btn) {

                    document.querySelectorAll('[data-value]').forEach(b => b.classList.remove('active'));

                    btn.classList.add('active')
                    
                    document.getElementById('selected_difficulty').value = btn.dataset.value

                }


            </script>

{% endblock %}