{% extends 'admin/base.html' %}

{% block head %} 

{{ super() }} <!-- keeps the CSS link from base.html -->


{% endblock %}

{% block body %}

        <a href="/admin/dashboard" class="home-btn" aria-label="Home">
        <span>←</span>
        </a>

        <div class="admin-card large-card">

        <form action="/admin/dashboard/new_output_problem" method="POST">

            <h2>Create Output Problem</h2>
            <p class="section-subtitle">
            Create a new output prediction exercise.
            </p>

            <input type="hidden" name= "difficulty" id="difficulty" value="">

            <div class="difficulty-btn">

            <button type="button" onclick="select_difficulty(this)" data-value="Easy">Easy</button>
            <button type="button" onclick="select_difficulty(this)" data-value="Medium">Medium</button>
            <button type="button" onclick="select_difficulty(this)" data-value="Hard">Hard</button>

            </div>

            <label for="problem_title">Problem Title:</label>
            <textarea name="problem_title" id="problem_title" required></textarea>

            <label for="problem_title">Problem Description:</label>
            <textarea name="problem_description" id="problem_description" required></textarea>
                
            <label for="coding_problem">Coding Problem</label>
            <textarea name="coding_problem" id="coding_problem" required></textarea>

            <label for="expected_output">Expected Output</label>
            <textarea name="expected_output" id="expected_output" required></textarea>

            <input type="submit" value="Submit">

        </form>

        </div>

        <br>
        <br>

        <div class="search-card">

        <h4>Manage Existing Problems</h4>
        <input type="search" name="search_bar" id="search_bar" placeholder="Search problems..." autocomplete="off">
        
        <input type="hidden" value="" name="problem_id" id="problem_id">

        <div id="results_panel"></div>

        <input type="button" onclick="delete_problem()" value="Delete Selected Problem" class="danger-btn"></input>

        

        </div>

        <script>

        let selectedProblemId = null

        function select_difficulty(btn) {

            document.querySelectorAll(".difficulty-btn button").forEach(b => {

                b.classList.remove('active')

            })

            btn.classList.add('active')

            document.getElementById("difficulty").value = btn.dataset.value


        }

        function delete_problem() {

            const problem_id_raw = document.getElementById("problem_id").value 

            window.location.href = `/admin/dashboard/new_output_problem/delete/${problem_id_raw}`

        }

        function render(results) {

            const panel = document.getElementById('results_panel');

            if (results.length === 0) {

                panel.style.display = 'none';
                return;

            }

            panel.style.display = 'block';

            panel.innerHTML = results.map(item =>

                `<div 
                id="${item.id}" 
                onclick="toggle(this)"
                style="padding: 8px; cursor: pointer; display: block; background-color: ${item.id == selectedProblemId ? '#d0ebff' : ''}">
                ${item.title}
                </div>`

            ).join('');

        }

        function toggle(div) {

            document.querySelectorAll('#results_panel div').forEach(d => {

                d.style.backgroundColor = '';

            });

            div.style.backgroundColor = '#d0ebff';

            selectedProblemId = div.id;

            document.getElementById('problem_id').value = selectedProblemId;

        }

        

        document.getElementById('search_bar').addEventListener('input', async i => {

            const query = i.target.value;

            const response = await fetch(`/admin/dashboard/new_output_problem/search?q=${query}`);

            const result = await response.json();

            render(result);
        })

        </script>

{% endblock %}

