{% extends 'admin/base.html' %}

{% block head %} 

{{ super() }} <!-- keeps the CSS link from base.html -->

{% endblock %}

{% block body %}

    <div class="test_case_creation">

       <input type="search" name="search_bar" id="search_bar"> 

        <form action="/admin/dashboard/new_test_cases" method="POST">

            <p>You can submit multiple test cases at the same time. A new line would be considered as a new test case.</p>
            <label for="new_TestCases">Test Cases</label>
            <li><textarea name="new_TestCases" id="new_TestCases" required></textarea></li>

            <p>A new line would be considered as a new expected output.Test case and expected output are partnered based on their number in the number line.</p>
            <label for="new_expected_output">Expected output</label>
            <li><textarea name="new_expected_output" id="new_expected_output" required></textarea></li>

            <input type="submit" value="Submit">

        </form>

    </div>

{% endblock %}